.env

my_env
*.pyc
ca.pem
*.sqlite3
*.csv
*.json
*.pdf
src/savings/management/commands/untracked.py
src/savings/management/commands/test_sms.py
src/savings/management/commands/contacts.py
src/administration/bulk_sms.py
src/loan/management/commands/fix_duplicates.py
src/savings/management/commands/recon.py
