{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Client Form{% endblock %}

        {% block content %}
        <h1>{{ form.instance.id|yesno:"Edit Client,Create Client" }}</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{{ form.instance.id|yesno:"Update,Create" }}</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock %}
