<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Clients List</h2>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Group</th>
                    <th>Savings</th>
                    <th>Loan</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone_number }}</td>
                    <td>{{ client.group }}</td>
                    <td><a href="{% url 'transaction_history' client.id %}">
                        {{ client.savings.balance }}</a>
                    </td>
                    <td><a href="{% url 'loan_transaction_history' client.id %}">
                    {{ client.loan.balance }}
                    </a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No clients found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'create_client' %}" class="btn btn-primary">Create New Client</a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
