{% extends 'base_form.html' %}

{% load custom_filters %}

{% block title %}Create New Customer{% endblock %}

{% block form_content %}
<h1>{{ form.instance.id|yesno:"Edit Client,Create New Customer" }}</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mb-3 col-md-6">
        <label for="id_client_id">Client ID</label>
        <input type="text" id="id_client_id" name="client_id" readonly class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">{{ form.instance.id|yesno:"Update,Create" }}</button>
</form>

<script>
    $(document).ready(function() {
        $('#id_client_type').change(function() {
            var clientType = $(this).val();
            $.ajax({
                url: '{% url "generate_client_id" %}',
                data: {
                    'client_type': clientType
                },
                success: function(data) {
                    $('#id_client_id').val(data.client_id);
                }
            });
        });
    });
</script>
{% endblock %}