{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Loan Detail{% endblock %}

{% block content %}
        <h1 class="text-center mb-4">Loan Detail</h1>
        
        <a href="{% url 'client_loans_payments_excel' loan.client.id %}" class="btn btn-primary">Download Excel</a>

        <!-- Loan Information Table -->
        <h3>Loan Information</h3>
        <table class="table-report">
            <tr>
                <th>Client Name</th>
                <td>{{ loan.client.name }}</td>
            </tr>
            <tr>
                <th>Client ID</th>
                <td>{{ loan.client.client_id }}</td>
            <tr>
                <th>Loan Amount</th>
                <td>{{ loan.amount|naira }}</td>
            </tr>
            <tr>
                <th>Loan Interest</th>
                <td>{{ loan_interest_amount|naira }}</td>
            </tr>
            <tr>
                <th>Loan Balance</th>
                <td>{{ loan.balance|naira }}</td>
            </tr>
                        <tr>
                <th>Loan Guarantor</th>
                <td>
                    {% if loan.guarantor.name %}
                        {{ loan.guarantor.name }}
                    {% else %}
                        <a href="{% url 'guarantor_for_loan' loan.id %}">Add/Edit Guarantor</a>
                    {% endif %}
                </td>
            </tr>
        </table>

        <!-- Repayment Schedule Table -->
                <h3>Loan Payments</h3>
                {% if loan_payments%}
                    <table class="table-report">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Ref No</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Balance</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>0</td>
                            <td>{{ loan.created_at }}</td>
                            <td>{{ loan.transaction.reference_number }}</td>
                            <td>Loan Disbursement</td>
                            <td>{{ loan.amount|naira }}</td>
                            <td>{{ loan.amount|naira }}</td>
                            </tr>
                            <tr>
                            <td>1</td>
                            <td>{{ loan.created_at }}</td>
                            <td>{{ loan.transaction.reference_number }}</td>
                            <td>Interest</td>
                            <td>{{ loan_interest_amount|naira }}</td>
                            <td>{{ loan.amount|add:loan_interest_amount|naira }}</td>
                            </tr>
                            {% with loan.amount|add:loan_interest_amount as running_balance %}
                            {% for payment in loan_payments %}
                            <tr>
                                <td>{{ forloop.counter|add:1 }}</td>
                                <td>{{ payment.payment_date }}</td>
                                <td>{{ payment.transaction.reference_number }}</td>
                                <td>{{ payment.description }}</td>
                                <td>-{{  payment.amount|naira }}</td>
                                <td>{{ running_balance|subtract:payment.amount|naira }}</td>
                                {% update_variable running_balance|subtract:payment.amount as running_balance %}
                            </tr>
                            {% endfor %}
                            {% endwith %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No loan payments found</p>
                {% endif %}

        <h3>Repayment Schedule</h3>
        {% if loan_schedules %}
            <table class="table-report">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        
                        <th>Due Date</th>
                        <th>Amount Due</th>
                        <th>Is Paid</th>
                    </tr>
                </thead>
                <tbody>

                    {% for schedule in loan_schedules %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ schedule.due_date }}</td>
                        <td>{{ schedule.amount_due|naira }}</td>
                        <td>{{ schedule.is_paid }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No repayment schedule found</p>
        {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock %}