{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Loan Detail{% endblock %}

{% block content %}
        <h1 class="text-center mb-4">Loan Detail</h1>
        
        <a href="{% url 'client_loans_payments_excel' loan.client.id %}" class="btn btn-primary">Download Excel</a>

        <!-- Loan Information Table -->
        <h3>Loan Information</h3>
        <table class="table-report">
            <tr>
                <th>Client Name</th>
                <td>{{ loan.client.name }}</td>
            </tr>
            <tr>
                <th>Client ID</th>
                <td>{{ loan.client.client_id }}</td>
            <tr>
                <th>Loan Amount</th>
                <td>{{ loan.amount|naira }}</td>
            </tr>
            <tr>
                <th>Loan Interest</th>
                <td>{{ loan_interest_amount|naira }}</td>
            </tr>
            <tr>
                <th>Loan Balance</th>
                <td>{{ loan.balance|naira }}</td>
            </tr>
        </table>

        <!-- Repayment Schedule Table -->
        <h3>Repayment Schedule</h3>
        {% if loan_payments%}
            <table class="table-report">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Ref No</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Balance</th>

                    </tr>
                </thead>
                <tbody>
                    {% with loan.balance as running_balance %}
                    {% for payment in loan_payments %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ payment.payment_date }}</td>
                        <td>{{ payment.transaction.reference_number }}</td>
                        <td>{{ payment.description }}</td>
                        <td>{{ payment.amount|naira }}</td>
                        <td>{{ running_balance|add:payment.amount|naira }}</td>
                        {% update_variable running_balance|add:payment.amount as running_balance %}
                    </tr>
                    {% endfor %}
                    {% endwith %}
                </tbody>
            </table>
        {% else %}
            <p>No repayment schedules found.</p>
        {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock %}