<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Expense List</h1>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Expense Type</th>
                    <th>Balance</th>
                    <th>Balance BF</th>
                    <th>Year</th>
                </tr>
            </thead>
            
            <tbody>
                {% if expense %}
                {% for expense in expense %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'expense_detail' expense.id %}">{{ expense.name }}</a>
                    </td>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.expense_type }}</td>
                    <td>{{ expense.balance }}</td>
                    <td>{{ expense.balance_bf }}</td>
                    <td>{{ expense.year }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7" class="text-center">No expenses found.</td>
                </tr>
                {% endif %}

            </tbody>

        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>