{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Liability Detail{% endblock %}

        {% block content %}
        <h1 class="text-center mb-4">Liability Detail</h1>
        <div class="card">
            <div class="card-header">
                <h2>{{ liability.name }}</h2>
            </div>
            <div class="card-body">
                <p><strong>Name:</strong> {{ liability.name }}</p>
                <p><strong>Description:</strong> {{ liability.description }}</p>
                <p><strong>Balance:</strong> {{ liability.balance }}</p>
                <p><strong>Balance BF:</strong> {{ liability.balance_bf }}</p>
                <p><strong>Year:</strong> {{ liability.year }}</p>
                <p><strong>Created At:</strong> {{ liability.created_at }}</p>
            </div>
        </div>

        <!-- liability Payments Section -->
        <div class="mt-5">
            <h3>Liability Payments</h3>
            {% if liability_payment %}
                <table class="table-report">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Ref No</th>
                            <th>Amount</th>
                            <th>Balance</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <td> 0 </td>
                        <td> - </td>
                        <td> Current Balance </td>
                        <td> - </td>
                        <td> {{ liability.balance }} </td>
                        {% for payment in liability_payment %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ payment.payment_date }}</td>
                            <td>{{ payment.description }}</td>
                            <td>{{ payment.transaction.reference_number }}</td>
                            <td>{{ payment.amount }}</td>
                            <td>{{ payment.liability_balance }}</td>                
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No payments found for this liability.</p>
            {% endif %}
        </div>

        <div class="mt-4">
            <a href="{% url 'liability_list' %}" class="btn btn-primary">Back to liability List</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock %}