{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Liability List{% endblock %}

{% block content %}
        <h1 class="text-center mb-4">Liability List</h1>
        <table class="table-report">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Balance</th>
                    <th>Balance BF</th>
                    <th>Year</th>
                </tr>
            </thead>
            
            <tbody>
                {% if liability %}
                {% for liability in liability %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'liability_detail' liability.id %}">{{ liability.name }}</a>
                    </td>
                    <td>{{ liability.description }}</td>
                    <td>{{ liability.balance }}</td>
                    <td>{{ liability.balance_bf }}</td>
                    <td>{{ liability.year }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7" class="text-center">No liabilitys found.</td>
                </tr>
                {% endif %}

            </tbody>

        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock %}