{% extends 'base_form.html' %}

{% load custom_filters %}

{% block title %}Savings Form{% endblock %}

        {% block form_content %}
        <h1 class="text-center mb-4">Savings Form</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock %}