{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Savings Detail{% endblock %}

{% block content %}
        <h1 class="text-center mb-4">Savings Detail</h1>

        <!-- Savings Information Table -->
        <a href="{% url 'client_savings_payments_excel' client_id %}" class="btn btn-primary">Download Excel</a>
        <h3>Savings Information</h3>
        <table class="table-report">
            <tr>
                <th>Client Name</th>
                <td>{{ savings.client.name }}</td>
            </tr>
            <tr>
                <th>Client ID</th>
                <td>{{ savings.client.client_id }}</td>
            <tr>
                <th>Balance</th>
                <td>{{ savings.balance|naira }}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{ savings.created_at }}</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>{{ savings.updated_at }}</td>
            </tr>
        </table>

        <!-- Savings Payments Table -->
        <h3>Savings Payments</h3>
                {% if savings_payments %}
            <table class="table-report">
                <thead class="table-dark">
                    <tr>
                        <th>Payment Date</th>
                        <th>Ref NO</th>
                        <th>Transaction Type</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% with savings_payments|first as first_payment %}
                        <!-- Display the first payment -->
                        <tr>
                            <td>{{ first_payment.payment_date }}</td>
                            <td>{{ first_payment.transaction.reference_number }}</td>
                            <td>{{ first_payment.get_transaction_type_display }}</td>
                            <td>{{ first_payment.amount|naira }}</td>
                            <td>{{ first_payment.amount|naira }}</td>
                        </tr>
                        {% with savings_payments|slice:"1:"|first as second_payment %}
                            
                        {% with first_payment.amount as first_balance %}
                        {% with first_balance as running_balance %}
                            <!-- Loop through the remaining payments -->
                            {% for payment in savings_payments|slice:"1:" %}
                                <tr>
                                    {% update_variable running_balance|add:payment.amount as running_balance %}
                                    <td>{{ payment.payment_date }}</td>
                                    <td>{{ payment.transaction.reference_number }}</td>
                                    <td>{{ payment.get_transaction_type_display }}</td>
                                    <td>{{ payment.amount|naira }}</td>
                                    <td>{{ running_balance|naira }}</td>
                                </tr>
                            {% endfor %}
                        {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}

                </tbody>
            </table>
        {% else %}
            <p>No savings payments found for this client.</p>
        {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock %}