<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">KRYSTAR</h1>
        {% if user.is_authenticated %}
            <h2 class="text-center">Hi {{ user.username }}</h2>
        {% endif %}
        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row g-4 mt-4">

            <form method="post" action="{% url 'update_app' %}">
                {% csrf_token %}
                <button type="submit">Update App</button>
              </form>
              
            <!-- Client Management Section -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Client Management</h5>
                        <a href="{% url 'create_users' %}" class="btn btn-primary mb-2">Create Staffs</a>
                        <a href="{% url 'user_list' %}" class="btn btn-primary mb-2">List Staffs</a>
                        <a href="{% url 'create_client' %}" class="btn btn-primary mb-2">Create Client</a>
                        <a href="{% url 'group_create' %}" class="btn btn-secondary mb-2">Create Group</a>
                    </div>
                </div>
            </div>

            <!-- Savings Management Section -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Savings Management</h5>
                        <a href="{% url 'savings_registration' %}" class="btn btn-primary mb-2">Register Savings</a>
                        <a href="{% url 'savings_withdrawal' %}" class="btn btn-secondary mb-2">Record Withdrawal</a>
                        <a href="{% url 'register_payment' %}" class="btn btn-secondary mb-2">Record Combined Payment</a>
                    </div>
                </div>
            </div>

            <!-- Loan Management Section -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Loan Management</h5>
                        <a href="{% url 'loan_registration' %}" class="btn btn-primary mb-2">Register Loan</a>
                        <a href="{% url 'loan_payment' %}" class="btn btn-secondary mb-2">Record Payment</a>
                    </div>
                </div>
            </div>

            <!-- Bank Section -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Bank</h5>
                        <a href="{% url 'create_bank' %}" class="btn btn-primary mb-2">Create Bank</a>
                        <a href="{% url 'bank_list' %}" class="btn btn-secondary mb-2">Bank List</a>
                        <a href="{% url 'create_bank' %}" class="btn btn-secondary mb-2">Create Bank</a>
                        <a href="{% url 'cash_transfer' %}" class="btn btn-secondary mb-2">Cash Transfer</a>
                        <a href="{% url 'journal_entry' %}" class="btn btn-secondary mb-2">Journal Entry</a>
                    </div>
                </div>
            </div>

             <!-- Income Section -->
             <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Income</h5>
                        <a href="{% url 'set_fees' %}" class="btn btn-primary mb-2">Set Fees</a>
                        <a href="{% url 'income_list' %}" class="btn btn-secondary mb-2">Income List</a>
                    </div>
                </div>
            </div>

            <!-- Expenses Section -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Expenses</h5>
                        <a href="{% url 'create_expense' %}" class="btn btn-primary mb-2">Create Expense</a>
                        <a href="{% url 'create_expense_type' %}" class="btn btn-secondary mb-2">Create Expense Category</a>
                        <a href="{% url 'expense_list' %}" class="btn btn-secondary mb-2">Expense List</a>
                        <a href="{% url 'expense_payment' %}" class="btn btn-secondary mb-2">Record Expense Payments</a>
                        
                    </div>
                </div>
            </div>

            <!-- Liability Section -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Liabilities</h5>
                        <a href="{% url 'create_liability' %}" class="btn btn-primary mb-2">Create Liability</a>
                        <a href="{% url 'liability_list' %}" class="btn btn-secondary mb-2">Liability List</a>
                        <a href="{% url 'liability_payment' %}" class="btn btn-secondary mb-2">Record Liability Payments</a>
                        
                    </div>
                </div>
            </div>

            <!-- Reports Section -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Reports</h5>
                        <a href="{% url 'loan_defaulters_report' %}" class="btn btn-primary mb-2">Defaulters Report</a>
                        <a href="{% url 'daily_transactions_report' %}" class="btn btn-secondary mb-2">Daily Transactions</a>
                        <a href="{% url 'all_groups_report' %}" class="btn btn-secondary mb-2">Group Report</a>
                        <a href="{% url 'profit_and_loss_report' %}" class="btn btn-secondary mb-2">P&L Report</a>
                        <a href="{% url 'trial_balance' %}" class="btn btn-secondary mb-2">Trial Balance</a>
                        <a href="{% url 'list_clients' %}" class="btn btn-secondary mb-2">Debtors Report</a>
                        
                    </div>
                </div>
            </div>
                
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>