{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Journal Voucher Form{% endblock %}

{% block content %}
        <h1 class="text-center mb-4">Journal Voucher Form</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.jv_credit.label_tag }}<br>
                {{ form.jv_credit }}
            </div>
            <div class="mb-3">
                {{ form.jv_credit_account.label_tag }}<br>
                {{ form.jv_credit_account }}
            </div>
            <div class="mb-3">
                {{ form.jv_debit.label_tag }}<br>
                {{ form.jv_debit }}
            </div>
            <div class="mb-3">
                {{ form.jv_debit_account.label_tag }}<br>
                {{ form.jv_debit_account }}
            </div>
            <div class="mb-3">
                {{ form.amount.label_tag }}<br>
                {{ form.amount }}
            </div>
            <div class="mb-3">
                {{ form.payment_date.label_tag }}<br>
                {{ form.payment_date }}
            </div>
            <div class="mb-3">
                {{ form.description.label_tag }}<br>
                {{ form.description }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            function updateAccountOptions(typeField, accountField) {
                var typeValue = $(typeField).val();
                var url = "{% url 'get_accounts' %}";  // URL to fetch accounts based on type
                $.ajax({
                    url: url,
                    data: {
                        'type': typeValue
                    },
                    success: function(data) {
                        $(accountField).html(data);
                    }
                });
            }

            $('#id_jv_credit').change(function() {
                updateAccountOptions('#id_jv_credit', '#id_jv_credit_account');
            });

            $('#id_jv_debit').change(function() {
                updateAccountOptions('#id_jv_debit', '#id_jv_debit_account');
            });
        });
    </script>
{% endblock %}