{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}Cash Transfer{% endblock %}

{% block content %}
        <h1 class="text-center mb-4">Cash Transfer</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.source_bank.label_tag }}<br>
                {{ form.source_bank }}
            </div>
            <div class="mb-3">
                {{ form.destination_bank.label_tag }}<br>
                {{ form.destination_bank }}
            </div>
            <div class="mb-3">
                {{ form.amount.label_tag }}<br>
                {{ form.amount }}
            </div>
            <div class="mb-3">
                {{ form.description.label_tag }}<br>
                {{ form.description }}
            </div>
            <div class="mb-3">
                {{ form.payment_date.label_tag }}<br>
                {{ form.payment_date }}
            </div>
            <button type="submit" class="btn btn-primary">Transfer</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock %}